body
{
background: #111;
color: #ececec;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.logo 
{
  width: 100%;
  max-width: 394px; 
  height: auto;
  display: block;
  margin: 0 auto;
}

.header 
{
  text-align: center;
  margin-bottom: 0px;
}
.header h1 
{
  margin-top: 0px;
}
.Divider
{
border: none;
height: 2px;
background: #eee;
margin: 20px auto;
width: 50%;
}

.SocialLinks h3
{
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
.SocialLinks
{
  text-align: center;
margin-bottom: 20px;
}
a:link 
{
  color: rgb(166, 255, 249);
}

.DWHSteam 
{
  text-align: center;
}

.About h2
{
  text-align: center;
  margin-bottom: 0px;
}

.About h3 
{
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.Copyright
{
  text-align: center;
  margin: 0 auto;
}
